main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background: #f1eae2;
  font-family: Arial, Helvetica, sans-serif;
}
form {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  padding: 25px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 5px 5px 10px 0 rgb(60, 128, 103);
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-evenly;
}
form h1 {
  text-align: center;
  margin: 0;
}
form div {
  display: flex;
  flex-direction: column;
}
form div input {
  padding: 10px;
  outline: none;
  border: 2px solid rgb(60, 128, 103);
  border-radius: 8px;
}
.submit {
  box-shadow: 2px 2px 10px 0 rgb(60, 128, 103);
  border-radius: 12px;
}
.submit input {
  background: rgb(60, 128, 103);
  padding: 5px;
  color: white;
  cursor: pointer;
  font-size: 20px;
}
