* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #f1eae2;
  font-family: "Times New Roman", Times, serif;
}
.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  width: 600px;
  height: 500px;
  display: flex;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
}
.box > div {
  width: 50%;
}

.image img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.content {
  padding: 20px;
}
.content h4 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
  color: gray;
  margin: 0 0 15px;
  font-weight: 600;
}
.content h1 {
  margin: 0 0 15px;
  font-size: 39px;
}
.content p {
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  color: slategray;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0;
}
.price {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
.delete {
  text-decoration: line-through;
  font-size: 15px;
  color: slategray;
}
.insert {
  font-size: 40px;
  margin-right: 20px;
  font-weight: bold;
  color: rgb(60, 128, 103);
}
.special {
  padding: 15px;
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  background: rgb(60, 128, 103);
  margin-bottom: 20px;
  border-radius: 15px;
  color: white;
  border: 1px solid rgb(60, 128, 103);
  transition: 0.3s;
}

.special svg {
  margin-right: 10px;
}
.special a {
  color: white;
  text-decoration: none;
}
.cart {
  background-color: rgb(47, 193, 140);
}
.special:hover {
  background-color: white;
  color: rgb(60, 128, 103);
}
.special:hover a {
  color: rgb(60, 128, 103);
}
